*{
margin:0;
padding:0;
}

body{background-color:#696969;
}

header{
background-color::#00ffff;}

aside{background-color:#191970;}

footer{background-color:#ff4500;}

h1 span{font-size:2.0em;
font-weight: bold;}

.box{
  background-color:#00ff00;
  color:#00ffff
  width:240px;
  margin: 5px;
  float: left;
}
