@charset "utf-8";

*{
margin:0;
padding:0;
}

body{background-color:#696969;
margin: 48px 0 0 0;
}

header{
background-color:#ffa500;
left:0;
top:0;
 width:100%;
}

#main{
width: calc(100% - 200px);
min-width:500px;
float:left;
}

aside{background-color:#191970;
width:200;
float:right;}

footer{background-color:#ff4500;
clear:both;}

h1 span{font-size:2.0em;
font-weight: bold;}

.box{
  background-color:#00ff00;
  color:#00ffff;
  width:240px;
  height:80px;
  margin: 5px;
  float: left;
  overflow: auto;
}
